:root {
  --primary: rgb(95, 255, 47);
  --beground: #010101;
  --dasar: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "poppins", sans-serif;
  background-color: var(--dasar);
  color: #010101;
  min-height: 700px;
}

/*Tampilan Utama*/
.sukses .ikonsukses h1 {
  font-size: 5rem;
  max-width: 50rem;
  font-weight: 700;
  padding: 0;
  text-align: left;
}

.sukses .ikonsukses .tombol {
  margin-top: 6rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.3rem;
  color: black;
  background-color: var(--primary);
  border-radius: 3rem;
}

.sukses .ikonsukses h1 span {
  color: var(--primary);
  font-size: 5rem;
  font-weight: 700;
  max-width: 50rem;
}

.sukses .ikonsukses img {
  margin-left: 0;
  margin-top: 1rem;
  position: relative;
  width: 25%;
}
/*Media Queris*/

/*Laptop*/
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/*Tablet*/
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.5s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform-origin: 0 0;
    transform: scaleX(0.4);
  }
}
/*HP*/
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
