:root {
  --primary: greenyellow;
  --beground: #010101;
  --dasar: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "poppins", sans-serif;
  background-color: var(--dasar);
  color: #010101;
  min-height: 700px;
}

/*navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 7%;
  background-color: #010101;
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 7000;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  columns: var(--primary);
}

#hamburger-menu {
  display: none;
}

/*Tampilan Utama*/
h3 {
  font-size: 2rem;
  font-weight: 700;
}
input[type="text"],
[type="number"],
[type="date"],
textarea,
select {
  margin-top: 10rem;
  top: 10rem;
  width: 80%;
  padding: 15px 15px;
  margin: 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid#ccc;
  border-radius: border-box;
}
input[type="text"]:focus {
  border: 3px solid #555;
  background-color: skyblue;
}
input[type="number"]:focus {
  border: 3px solid #555;
  background-color: skyblue;
}

input[type="date"]:focus {
  border: 3px solid #555;
  background-color: skyblue;
}

input[type="submit"],
[type="reset"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover,
[type="reset"]:hover {
  display: inline-block;
  font-size: 1.3rem;
  color: black;
  background-color: var(--primary);
}

.tombol {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  margin-left: 20rem;
  font-size: 1.3rem;
  color: black;
  background-color: var(--primary);
  border-radius: 3rem;
}
/*div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 95;
}*/
/*Laptop*/
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/*Tablet*/
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.5s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform-origin: 0 0;
    transform: scaleX(0.4);
  }
}
/*HP*/
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
